 /* Coconat Regular*/
@font-face {
    font-family: 'Coconat Regular';
    src: url(https://luuvbug.github.io/fonts/Coconat-Regular.woff2) format('woff2');
}

/* Coconat Demi */
@font-face {
    font-family: 'Coconat Regular';
    src: url(https://luuvbug.github.io/fonts/Coconat-Demi.woff2) format('woff2');
}

/* Coconat Bold */
@font-face {
    font-family: 'Coconat Regular';
    src: url(https://luuvbug.github.io/fonts/Coconat-Bold.woff2) format('woff2');
}




body {
    background-color: #F8E8EE;
    font-family: 'Coconat Regular', Helvetica, sans-serif;
}

header img {
    width: 50px;
}

nav {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 20px auto;
    align-items: flex-end;
}