 /* Coconat Regular*/
@font-face {
    font-family: 'Coconat-Regular';
    src: url(https://luuvbug.github.io/fonts/Coconat-Regular.woff2) format('woff2');
}

/* Coconat Demi */
@font-face {
    font-family: 'Coconat-Demi';
    src: url(https://luuvbug.github.io/fonts/Coconat-Demi.woff2) format('woff2');
}

/* Coconat Bold */
@font-face {
    font-family: 'Coconat-Bold';
    src: url(https://luuvbug.github.io/fonts/Coconat-Bold.woff2) format('woff2');
}

/* Casta Thin */
@font-face {
    font-family: 'Casta-Thin';
    src: url(https://luuvbug.github.io/fonts/Casta-Thin.woff2) format('woff2');
}

/* Casta Thin Slanted */
@font-face {
    font-family: 'Casta-ThinSlanted';
    src: url(https://luuvbug.github.io/fonts/Casta-ThinSlanted.woff2) format('woff2');
}



* {box-sizing:border-box}



/*
header {
    background-color: #ecd5df;
} */


body {
    margin: 0;
    font-family: 'Casta-Thin', Helvetica, sans-serif;
    font-weight: 600;
    background-color: #d5cebb;
    background-size: 100% 1200px;
    background-position: center center;
    background-repeat: no-repeat;
}

main {
    margin: 0 auto;
    padding: 20px 20px;
    background-image: url('../img/bookbgd.png'); /* ../ is used b/c css file is in a folder so its going to take a step back and exit the css folder then look for the img folder and so on*/
    background-size: 60% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Coconat-Demi';
    font-size: 40px;
    text-align: center;
}

.caption {
    text-align: center;
}

h2 {
    font-family: 'Coconat-Demi';
}

h3 {
    font-family: 'Coconat-Demi';
}

img {
    width: auto;
    height: 400px;
}

#header-nav-bar {
    display: flex;
    align-items: center;
}

.nav-item:hover {
    color: #AC87C5;
    transition: ease-in-out 0.2s;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    /* margin: 20px auto; */
    margin-left: 600px;
    align-items: flex-end;
}


/* Slide show things */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.slide-img {
    position: static;
    margin-left: 340px;
    margin-right: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #747474;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: white;
}

.text {
    color: #747474;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    position: absolute;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

footer {
    /* background-color: #ecd5df; */
    text-align: center;
    padding: 10px;
    margin: 0;
}
