body {
    background-color: #F9F5F6;
}

header img {
    width: 50px;
}

#header-nav-bar {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 20px auto;
    align-items: center;
}