body{
    background-color: beige;
}
h1{
    font-size: 30px;
    color:#ffcef4;
}
/*
this ^^^ is ruleset styling; h1 is the selector statement which targets a bunch of elements to style; w/in the braces is decloration block
each line is called a declaration w/ a declaration property (ex:font-size) and a value (ex: 30px)
*/

h2{
    color: #bf9ab6;
    font-size: 20px;
}

.big{
    font-size: 60px;
}

.uppercase{
    text-transform: uppercase;
}

.big.uppercase{
    color: lightblue;
}

h1 span{
    color: violet;
}
